---
import type { Blog } from '@types';

import { paginatedBlogs, publisher, website } from '@utils/json-ld';

import BaseLayout from '@layouts/BaseLayout.astro';

import { LOCALE, SITE_DATA, TOP_NAVIGATION } from '@config';

interface Props {
  blogs: Blog[];
  page: number;
}

const { blogs, page }: Props = Astro.props;

const title = SITE_DATA.blog.headline;
const description = SITE_DATA.blog.description;
const image = SITE_DATA.blog.image;

const url = new URL(Astro.url.pathname, Astro.site).href;

let structuredData = [
  {
    '@context': 'https://schema.org',
    '@type': 'WebPage',
    '@id': url,
    url,
    name: title,
    description,
    inLanguage: LOCALE.langTag,
    image: {
      '@type': 'ImageObject',
      url: image,
      width: 1200,
      height: 630
    },
    isPartOf: {
      '@id': `${TOP_NAVIGATION.landing}/#website`
    },
    mainEntity: {
      '@type': 'ItemList',
      itemListElement: paginatedBlogs(blogs),
      numberOfItems: blogs.length,
      itemListOrder: 'https://schema.org/ItemListOrderAscending',
      startIndex: page
    }
  },
  website(),
  publisher()
];
---

<BaseLayout>
  <Fragment slot="meta">
    <!-- General Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={url} />
    <meta property="og:image" content={image} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:url" content={url} />
    <meta property="twitter:image" content={image} />

    <!-- Google JSON-LD Structured data -->
    <script type="application/ld+json" set:html={JSON.stringify(structuredData)} />
  </Fragment>

  <slot />
</BaseLayout>
