---
import type { Author, Changelog } from '@types';

import { authorJSONLD, publisher, website } from '@utils/json-ld';

import BaseLayout from '@layouts/BaseLayout.astro';

import { LOCALE, TOP_NAVIGATION } from '@config';

interface Props {
  changelog: Changelog;
  author: Author;
}

const { changelog, author }: Props = Astro.props;

const title = changelog.headline;
const description = changelog.description;
const image = changelog.image;

const url = new URL(Astro.url.pathname, Astro.site).href;

let structuredData = [
  {
    '@context': 'https://schema.org',
    '@type': 'Article',
    '@id': url,
    url,
    headline: title,
    description,
    inLanguage: LOCALE.langTag,
    image: {
      '@type': 'ImageObject',
      url: image,
      width: 1200,
      height: 630
    },
    datePublished: changelog.datePublished,
    author: authorJSONLD(author),
    mainEntityOfPage: {
      '@type': 'WebPage',
      '@id': url
    },
    breadcrumb: {
      '@type': 'BreadcrumbList',
      itemListElement: [
        {
          '@type': 'ListItem',
          position: 1,
          name: 'Home',
          item: TOP_NAVIGATION.landing
        },
        {
          '@type': 'ListItem',
          position: 2,
          name: 'Changelog',
          item: TOP_NAVIGATION.changelog
        },
        {
          '@type': 'ListItem',
          position: 3,
          name: title,
          item: url
        }
      ]
    },
    isPartOf: {
      '@id': `${TOP_NAVIGATION.landing}/#website`
    }
  },
  website(),
  publisher()
];
---

<BaseLayout>
  <Fragment slot="meta">
    <!-- General Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={url} />
    <meta property="og:image" content={image} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:url" content={url} />
    <meta property="twitter:image" content={image} />

    <!-- Google JSON-LD Structured data -->
    <script
      type="application/ld+json"
      is:inline
      set:html={JSON.stringify(structuredData)}
    />
  </Fragment>

  <slot />
</BaseLayout>
