---
import type { Author, Changelog } from '@types';
import type { GetStaticPaths } from 'astro';

import { getCollection, getEntry } from 'astro:content';

import getSortedChangelogs from '@utils/changelog/getSortedChangelogs';
import { slugifyStr } from '@utils/slugify';

import ChangelogIndexLayout from '@layouts/changelog/ChangelogIndexLayout.astro';

import Entries from '@components/changelog/Entries.astro';
import Pagination from '@components/common/Pagination.astro';
import { CHANGELOG_PER_INDEX, TOP_NAVIGATION } from '@config';

export const getStaticPaths = (async ({ paginate }) => {
  const changelogs = await getCollection('changelog', ({ data }) => !data.draft);
  const sortedChangelogs = getSortedChangelogs(changelogs);
  return paginate(sortedChangelogs, { pageSize: CHANGELOG_PER_INDEX });
}) satisfies GetStaticPaths;

const { page } = Astro.props;

const changelogs: Changelog[] = await Promise.all(
  page.data.map(async (changelog) => {
    const author = await getEntry('author', changelog.data.author.id);
    const ogImageUrl =
      typeof changelog.data.ogImage === 'string'
        ? changelog.data.ogImage
        : changelog.data.ogImage?.src;
    const ogUrl = new URL(
      ogImageUrl ?? `/changelog/${slugifyStr(changelog.data.title)}.png`,
      Astro.url.origin
    ).href;

    return {
      headline: changelog.data.title,
      description: changelog.data.description,
      author: author.data as Author,
      datePublished: changelog.data.pubDatetime.toISOString(),
      image: ogUrl,
      url: `${TOP_NAVIGATION.changelog}/${changelog.id}`
    } satisfies Changelog;
  })
);
---

<ChangelogIndexLayout changelogs={changelogs}>
  <section class="bg-white lg:p-8">
    <div class="mx-auto px-8 py-12 md:px-12 lg:px-16 lg:py-32 xl:px-36 2xl:max-w-7xl">
      <div class="relative text-center">
        <span class="text-black"> Changelog </span>
        <h2 class="mt-6 text-3xl font-light tracking-tight text-black lg:text-4xl">
          Follow our journey <span class="block text-zinc-400">and keep track of us.</span
          >
        </h2>
      </div>
      <div class="mx-auto mt-12 max-w-2xl">
        {
          page.data
            .slice()
            .map((changelog) => (
              <Entries
                url={'/changelog/' + changelog.id}
                title={changelog.data.title}
                description={changelog.data.description}
                alt={changelog.data.title}
                pubDatetime={changelog.data.pubDatetime.toString().slice(4, 15)}
                image={changelog.data.image.url}
              />
            ))
        }
      </div>
    </div>
  </section>

  <Pagination page={page} />
</ChangelogIndexLayout>
